/* Generieke stijlen voor jullie styleguide
   Waarschijnlijk hoef je hier niet zoveel voor aan te passen, maar dat mag natuurlijk wel */

/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

* {
  box-sizing: border-box;
}

:root {
  --primary-color-dark: hsl(141, 36%, 28%);
  --primary-color-light: hsl(120, 56%, 81%);
  --secondary-color: hsl(44, 98%, 50%);
  --secondary-color-darkmode: hsl(42, 100%, 30%, .5);
  --achtergrondkleur-darkmode: hsl(137, 37%, 69%);
  --primary-color-lightest:	hsl(137, 54%, 81%);
  --lightmode-text: hsl(0, 0%, 0%);
  --darkmode-text: hsl(0, 0%, 100%);
  --lees-meer-link-radius: 0.25rem;
}

body {
  margin: 1rem;
  place-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, a, li {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer generiek {

  html, body {
    scroll-behavior: smooth;
  }

  body {
    max-width: 40em;
    margin: auto;
    background: #fff;
  }

  nav:not([class]),
  h1:not([class]),
  h2:not([class]),
  p:not([class]),
  figcaption:not([class]) {
    font-family: sans-serif;
    line-height: 1.5;
  }

  p:not([class]) > code:not([class]) {
    display: block;
  }

  fieldset:not([class]) {
    margin-block: 1em;
  }

  nav:not([class]) > a {
    padding: .5em;
    border: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  figure:not([class]) {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    > code {
      display: grid;
      place-items: center;
      border-radius: 50%;
      aspect-ratio: 1;
      background: #ccc;
    }
  }

}

.color1 {
  background-color: var(--primary-color-dark);
  color: var(--witte-tekst);
  font-weight: bold;
}

.color2 {
  background-color: var(--secondary-color-darkmode);
  color: var(--witte-tekst);
  font-weight: bold;
}

.color3 {
  background-color: var(--link-achtergrondkleur-lightmode);
  color: var(--zwarte-tekst);
  font-weight: bold;
}

.color4 {
  background-color: var(--secondary-color);
  color: var(--zwarte-tekst);
  font-weight: bold;
}

.color5 {
  background-color: var(--achtergrondkleur-darkmode);
  color: var(--zwarte-tekst);
  font-weight: bold;
}

.color6 {
  background-color: var(--accentkleur-darkmode);
  color: var(--zwarte-tekst);
  font-weight: bold;
}

.color7 {
  background-color: var(--link-achtergrondkleur-darkmode);
  color: var(--zwarte-tekst);
  font-weight: bold;
}

.color8 {
  background-color: var(--lightmode-text);
  color: var(--darkmode-text);
  font-weight: bold;
  border: 1px solid black;
}

.color9 {
  background-color: var(--darkmode-text);
  color: var(--lightmode-text);
  font-weight: bold;
}

.kleurnaam {
  font-weight: bold;
}

.kleurinfo {
  color: hsl(0, 0%, 34.79%);
}

.kopjes {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.kop1 {
  font-size: 3rem;
}

.kop2 {
  font-size: 2.25rem;
}

.kop3 {
  font-size: 1.75rem;
}

.kop4 {
  font-size: 1.375rem;
}

.kop5 {
  font-size: 1.125rem;
}

.kop6 {
  font-size: 1rem;
}

.kopa {
  font-size: 2.5rem;
}

.kopb {
  font-size: 1.875rem;
}

.kopc {
  font-size: 1.5rem;
}

.kopd {
  font-size: 1.25rem;
}

.kope {
  font-size: 1.063rem;
}

.kopf {
  font-size: 0.938rem;
}

.kopl {
  font-size: 2rem;
}

.kopm {
  font-size: 1.625rem;
}

.kopn {
  font-size: 1.375rem;
}

.kopo {
  font-size: 1.125rem;
}

.kopp {
  font-size: 1rem;
}

.kopq {
  font-size: 0.875rem;
}

.laptop-tekst {
  font-size: 1.125rem;
}

.tablet-tekst,
.mobiel-tekst {
  font-size: 1rem;
}

.content {
  line-height: 1.4;
}

.leesmeer-lightmode {
  background-color: var(--link-achtergrondkleur-lightmode);
  color: var(--zwarte-tekst);
  padding: 0.25rem 0.5rem;
  border-radius: var(--leesMeerLinkRadius);
  text-decoration: none;
}

.leesmeer-lightmode:hover {
  background-color: var(--hover);
}

.leesmeer-darkmode {
  background-color: var(--link-achtergrondkleur-darkmode);
  color: var(--zwarte-tekst);
  padding: 0.25rem 0.5rem;
  border-radius: var(--leesMeerLinkRadius);
  text-decoration: none;
}

.leesmeer-darkmode:hover {
  background-color: var(--hover);
}

input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: 1.5px solid var(--primary-color-dark);
}

textarea {
  height: 200px;
  resize: none;
  margin-bottom: 15px;
}