/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: "Stack Sans Headline";
        src: url('./fonts/StackSansHeadline-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: "DM Sans";
        src: url('./fonts/DMSans-VariableFont_wght.ttf') format('truetype');
    }

    :root {
        /* kleuren */
        --background-hover-lightmode: hsl(141, 36%, 28%);
        --accentkleur-lightmode: hsl(140, 37%, 28%);
        --links-background-lightmode: hsl(120, 56%, 81%);
        --hover: hsl(44, 98%, 50%);
<<<<<<< HEAD
        --achtergrondkleur-darkmode: hsl(137, 37%, 69%);
        --accentkleur-darkmode: hsl(137, 54%, 81%);
        --link-achtergrondkleur-darkmode: hsl(145, 71%, 40%);
=======
        --background-darkmode: hsl(137, 37%, 69%);
        --accentkleur-darkmode:	hsl(137, 54%, 81%);
        --links-background-darkmode:	hsl(145, 71%, 40%);
>>>>>>> fea4ccc1c789aa4b2c93253208349e395a19b22f
        --zwarte-tekst: hsl(0, 0%, 0%);
        --witte-tekst: hsl(0, 0%, 100%);

    }

    body {
        line-height: 1.4;
    }

    /* Typografie */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Stack Sans Headline", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    p,
    a,
    li {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: clamp(1rem, 0.8rem + 1vw, 1.125rem);
    }


    /* Responsive font sizes */
    h1 {
        font-size: clamp(2rem, 5vw, 3rem);
    }

    h2 {
        font-size: clamp(1.625rem, 4vw, 2.25rem);
    }

    h3 {
        font-size: clamp(1.375rem, 3vw, 1.75rem);
    }

    h4 {
        font-size: clamp(1.125rem, 2.5vw, 1.375rem);
    }

    h5 {
        font-size: clamp(1rem, 1.5vw, 1.125rem);
    }

    h6 {
        font-size: clamp(0.875rem, 1vw, 1rem);
    }


    /* "lees meer" buttons style */
    .leesmeer-lightmode {
        background-color: var(--links-background-lightmode);
        color: var(--zwarte-tekst);
        padding: 0.25rem 0.5rem;
        border-radius: var(--leesMeerLinkRadius);
        text-decoration: none;
    }

    .leesmeer-lightmode:hover {
        background-color: var(--hover);
    }

    .leesmeer-darkmode {
        background-color: var(--links-background-darkmode);
        color: var(--zwarte-tekst);
        padding: 0.25rem 0.5rem;
        border-radius: var(--leesMeerLinkRadius);
        text-decoration: none;
    }

    .leesmeer-darkmode:hover {
        background-color: var(--hover);
    }

    /* Formulier elementen */
}

input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
}

textarea {
  height: 200px;
  resize: none;
  margin-bottom: 15px;
}

.verzend{
  background: var(--accentkleur-lightmode);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
