/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: "Stack Sans Headline";
        src: url('./fonts/StackSansHeadline-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: "DM Sans";
        src: url('./fonts/DMSans-VariableFont_wght.ttf') format('truetype');
    }

    :root {
        /* kleuren */
        --achtergrondkleur-en-navigatieHover-lightmode: hsl(141, 36%, 28%);
        --accentkleur-lightmode: hsl(140, 37%, 28%);
        --link-achtergrondkleur-lightmode: hsl(120, 56%, 81%);
        --hover: hsl(44, 98%, 50%);
        --achtergrondkleur-darkmode: hsl(137, 37%, 69%);
        --accentkleur-darkmode: hsl(137, 54%, 81%);
        --link-achtergrondkleur-darkmode: hsl(145, 71%, 40%);
        --zwarte-tekst: hsl(0, 0%, 0%);
        --witte-tekst: hsl(0, 0%, 100%);

    }

    body {
        line-height: 1.4;
    }

    /* Typografie */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Stack Sans Headline", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    p,
    a,
    li {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 1.125rem;
        }
    }

    /* verander de waarde van de mediaquery's voor je eigen website indien nodig */
    h1 {
        font-size: 2rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1.625rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 1.875rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 2.25rem;
        }
    }

    h3 {
        font-size: 1.375rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 1.75rem;
        }
    }

    h4 {
        font-size: 1.125rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 1.25rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 1.375rem;
        }
    }

    h5 {
        font-size: 1rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 1.063rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 1.125rem;
        }
    }

    h6 {
        font-size: 0.875rem;

        /* tablet */
        @media screen and (min-width: 768px) {
            font-size: 0.938rem;
        }

        /* laptop */
        @media screen and (min-width: 1024px) {
            font-size: 1rem;
        }
    }

    /* "lees meer" linkjes style */
    .leesmeer-lightmode {
        background-color: var(--link-achtergrondkleur-lightmode);
        color: var(--zwarte-tekst);
        padding: 0.25rem 0.5rem;
        border-radius: var(--leesMeerLinkRadius);
        text-decoration: none;
    }

    .leesmeer-lightmode:hover {
        background-color: var(--hover);
    }

    .leesmeer-darkmode {
        background-color: var(--link-achtergrondkleur-darkmode);
        color: var(--zwarte-tekst);
        padding: 0.25rem 0.5rem;
        border-radius: var(--leesMeerLinkRadius);
        text-decoration: none;
    }

    .leesmeer-darkmode:hover {
        background-color: var(--hover);
    }

    /* Formulier elementen */
}